<?xml version="1.0" ?>
<robot name="partnet_5b81d7830eabb7547c6e1fb05e1b9037">
	<material name="Black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>
	<link name="base"/>
	<link name="link_1">

		<visual name="bottom">
			<origin xyz="0 -0.69 0"/>
			<geometry>
				<box size="1 .12 0.95"/>
			</geometry>
			<material name="Black"/>
		</visual>

		<visual name="surface-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</visual>
		<visual name="frame-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>

		<collision name="bottom">
			<origin xyz="0 -0.69 0"/>
			<geometry>
				<box size="1 .12 0.95"/>
			</geometry>
		</collision>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</collision>
		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-left.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-right.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-top.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-bottom.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-back.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2-front.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
