<?xml version="1.0" ?>
<robot name="sink_005">

	<joint name="bottom_transform_2" type="fixed">
		<parent link="link_1"/>
		<child link="sink_bottom_2"/>
		<origin rpy="0 0 0" xyz="-33 -23.7 -4"/>
	</joint>
	<link name="sink_bottom_2">
		<visual name="water">
			<geometry>
      	<box size="30 .001 48"/>
      </geometry>
			<material name="Blue">
				<color rgba="0.537254902 0.811764706 0.941176471 1.0"/>
			</material>
		</visual>
		<collision name="water_col">
			<geometry>
      	<box size="30 .001 48"/>
      </geometry>
		</collision>
	</link>

		<joint name="bottom_transform" type="fixed">
			<parent link="link_1"/>
			<child link="sink_bottom"/>
			<origin rpy="0 0 0" xyz="16.5 -23.7 0"/>
		</joint>
		<link name="sink_bottom">
			<visual name="water">
				<geometry>
	      	<box size="63 .001 56"/>
	      </geometry>
				<material name="Blue">
					<color rgba="0.537254902 0.811764706 0.941176471 1.0"/>
				</material>
			</visual>
			<collision name="water_col">
				<geometry>
	      	<box size="63 .001 56"/>
	      </geometry>
			</collision>
		</link>

	<link name="base"/>
	<link name="link_1">
		<visual name="body-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</visual>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_front.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_back_left.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_back_right.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_left.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_right.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="kitchen_sink_obj_middle.obj"/>
			</geometry>
			<material name="White">
		    <color rgba="0.85 0.85 0.85 1.0"/>
		  </material>
		</collision>

	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="-1.57 3.14 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
