<?xml version="1.0" ?>
<robot name="partnet_c16cba81-714d-4b1a-94cd-7a148af83db0">
	<link name="base"/>
	<link name="link_0">
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual>
		<visual name="body-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="0 0 0"/>
		<axis xyz="-1.0 -0.0 -0.0"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="-0.08726646259971647" upper="-0.0"/>
	</joint>
	<link name="link_1">
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</visual>
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</visual>
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</visual>
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</visual>
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</visual>
		<visual name="lid-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="revolute">
		<origin xyz="0 0 0"/>
		<axis xyz="-1.0 0.0 0.0"/>
		<child link="link_1"/>
		<parent link="link_0"/>
		<limit lower="-0.5277875658030854" upper="1.1309733552923256"/>
	</joint>
	<link name="link_2">
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
