<?xml version="1.0" ?>
<robot name="partnet_83a2a5dfe03a2be1b2b755acb296d925">
	<link name="base"/>
	<link name="link_0">
		<visual name="drawer_front-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1177.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-49">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1175.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1174.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-51">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1176.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-52">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1178.obj"/>
			</geometry>
		</visual>
		<visual name="handle-47">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1173.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1177.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1175.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1174.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1176.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1178.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1173.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="prismatic">
		<origin xyz="0 0 0"/>
		<axis xyz="0 0 1"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="0" upper="0.524"/>
	</joint>
	<link name="link_1">
		<visual name="drawer_front-41">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1125.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-42">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1122.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-43">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1123.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-44">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1124.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-45">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1126.obj"/>
			</geometry>
		</visual>
		<visual name="handle-40">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1121.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1125.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1122.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1123.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1124.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1126.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1121.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="prismatic">
		<origin xyz="0 0 0"/>
		<axis xyz="0 0 1"/>
		<child link="link_1"/>
		<parent link="link_2"/>
		<limit lower="0" upper="0.43999999999999995"/>
	</joint>
	<link name="link_2">
		<visual name="other_leaf-56">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-491.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-56">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-485.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-56">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-494.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-447.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-429.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-423.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-419.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-441.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-450.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-535.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-538.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-714.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-717.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-983.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-980.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-802.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1068.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-789.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-772.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1065.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1062.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1057.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1044.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1071.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1045.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1049.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1055.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-783.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-778.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-793.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-801.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-799.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-805.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1024.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-758.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-739.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-750.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-740.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-735.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1016.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1027.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-62">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-269.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-62">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-272.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-148.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-151.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-184.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-181.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-175.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-168.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-217.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-189.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-202.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-205.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-207.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-203.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-192.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-208.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-224.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-195.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-201.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-219.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-225.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-228.obj"/>
			</geometry>
		</visual>
		<visual name="board-71">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1073.obj"/>
			</geometry>
		</visual>
		<visual name="board-70">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1074.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-21">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-539.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-22">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1072.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-23">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-806.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-24">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-273.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-25">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-26">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1179.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1180.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-33">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-5.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_divider_panel-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-540.obj"/>
			</geometry>
		</visual>
		<visual name="leg-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</visual>
		<visual name="leg-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</visual>
		<visual name="leg-37">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</visual>
		<visual name="leg-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-4.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-491.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-485.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-494.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-447.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-429.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-423.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-419.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-441.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-450.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-535.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-538.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-714.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-717.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-983.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-980.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-802.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1068.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-789.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-772.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1065.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1062.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1057.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1044.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1071.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1045.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1049.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1055.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-783.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-778.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-793.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-801.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-799.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-805.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1024.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-758.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-739.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-750.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-740.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-735.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1016.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1027.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-269.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-272.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-148.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-151.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-184.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-181.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-175.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-168.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-217.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-189.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-202.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-205.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-207.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-203.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-192.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-208.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-224.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-195.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-201.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-219.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-225.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-228.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1073.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1074.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-539.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1072.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-806.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-273.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1179.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1180.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-540.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
