<?xml version="1.0" ?>
<robot name="partnet_5b112266c93a711b824662341ce2b233">
	<link name="base"/>
	<link name="link_0">
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-10">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="handle-9">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</visual>
		<visual name="handle-9">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</visual>
		<visual name="handle-9">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="0 0.4693288487728004 0.2818682216265373"/>
		<axis xyz="-1 0 0"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-6">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="handle-7">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<visual name="handle-7">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<visual name="handle-7">
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 -0.4693288487728004 -0.2818682216265373"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="revolute">
		<origin xyz="0 0.4693288487728004 0.2818682216265373"/>
		<axis xyz="-1 0 0"/>
		<child link="link_1"/>
		<parent link="link_2"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_2">
		<visual name="shelf-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-19">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-21">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-22">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-23">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-24">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-29">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-33">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-37">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-39">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-40">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-42">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
