[submodule "URDF_models"]
    path = URDF_models
    url = https://github.com/yding25/URDF_models.git
[submodule "model_elephant"]
    path = URDF_robot/model_elephant
    url = https://github.com/yding25/model_elephant.git

