[submodule "URDF_models"]
	path = Asset/URDF_models
    url = https://github.com/yding25/URDF_models.git
    branch = main

[submodule "model_elephant"]
    path = URDF_robot/model_elephant
    url = https://github.com/yding25/model_elephant.git
    branch = main

[submodule "anygrasp_sdk"]
    path = Motion_Planning/Manipulation/anygrasp_sdk
    url = https://github.com/graspnet/anygrasp_sdk.git
    branch = main
[submodule "Motion_Planning/Manipulation/anygrasp_sdk"]
	path = Motion_Planning/Manipulation/anygrasp_sdk
	url = https://github.com/graspnet/anygrasp_sdk.git
