<?xml version="1.0" ?>
<robot name="partnet_549813be-3bd8-47dd-9a49-b51432b2f14c">
	<link name="base"/>
	<link name="link_1">
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4-collision.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3-collision.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2-collision.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5-collision.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>

	<link name="tray_bottom">
		<visual name='tray_b'>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="tray_bottom"/>
		<parent link="link_1"/>
	</joint>
</robot>
