<robot name="ranger_mini_v3" version="1.0">
  <joint name="bl_joint" type="fixed">
    <origin rpy="-3.14159 0.00000 0.00000" xyz="-0.25000 0.19000 -0.10000"/>
    <parent link="base_link"/>
    <child link="bl_Link"/>
  </joint>
  <joint name="br_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.25000 -0.19000 -0.10000"/>
    <parent link="base_link"/>
    <child link="br_Link"/>
  </joint>
  <joint name="fl_joint" type="fixed">
    <origin rpy="-3.14159 0.00000 0.00000" xyz="0.25000 0.19000 -0.10000"/>
    <parent link="base_link"/>
    <child link="fl_Link"/>
  </joint>
  <joint name="fr_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.25000 -0.19000 -0.10000"/>
    <parent link="base_link"/>
    <child link="fr_Link"/>
  </joint>
  
  <link name="base_link">
    <collision name="base_link_collision">
      <origin rpy="3.14000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini3_decimate.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00072" ixy="-0.00000" ixz="-0.00000" iyy="0.00074" iyz="0.00000" izz="0.00002"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.02427 -0.00303 0.05443"/>
      <mass value="0.16272"/>
    </inertial>
    <visual name="base_link_visual">
      <origin rpy="3.14000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="pale_blue"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini3_decimate.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="bl_Link">
    <collision name="bl_Link_collision">
      <origin rpy="-3.14159 0.00000 3.14000" xyz="-0.24100 0.13000 0.20000"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00637" ixy="-0.00000" ixz="-0.00011" iyy="0.00636" iyz="0.00000" izz="0.01046"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00116 -0.00000 0.04366"/>
      <mass value="2.27860"/>
    </inertial>
    <visual name="bl_Link_visual">
      <origin rpy="-3.14159 0.00000 -3.14159" xyz="-0.24100 0.13000 0.20000"/>
      <material name="white"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="br_Link">
    <collision name="br_Link_collision">
      <origin rpy="0.00000 -0.00000 3.14000" xyz="-0.24100 -0.11000 0.15500"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel_right.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00636" ixy="-0.00000" ixz="-0.00002" iyy="0.00636" iyz="0.00000" izz="0.01047"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00017 0.00000 0.04368"/>
      <mass value="2.27860"/>
    </inertial>
    <visual name="br_Link_visual">
      <origin rpy="0.00000 -0.00000 3.14000" xyz="-0.24100 -0.11000 0.15500"/>
      <material name="white"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel_right.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="fl_Link">
    <collision name="fl_Link_collision">
      <origin rpy="-3.14159 0.00000 3.14000" xyz="-0.24800 0.12650 0.19100"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00637" ixy="-0.00000" ixz="-0.00017" iyy="0.00636" iyz="-0.00000" izz="0.01046"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00180 -0.00000 0.04364"/>
      <mass value="2.27860"/>
    </inertial>
    <visual name="fl_Link_visual">
      <origin rpy="-3.14159 0.00000 -3.14159" xyz="-0.24800 0.12650 0.19100"/>
      <material name="white"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="fr_Link">
    <collision name="fr_Link_collision">
      <origin rpy="0.00000 -0.00000 3.14000" xyz="-0.24800 -0.11300 0.15500"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel_right.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00636" ixy="-0.00000" ixz="-0.00000" iyy="0.00636" iyz="-0.00000" izz="0.01047"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00002 0.00000 0.04368"/>
      <mass value="2.27860"/>
    </inertial>
    <visual name="fr_Link_visual">
      <origin rpy="0.00000 -0.00000 3.14000" xyz="-0.24800 -0.11300 0.15500"/>
      <material name="white"/>
      <geometry>
        <mesh filename="../meshes/ranger_mini_v3_wheel_right.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="pale_blue">
    <color rgba="0.79216 0.81961 0.92941 1.00000"/>
  </material>
  <material name="white">
    <color rgba="1.00000 1.00000 1.00000 1.00000"/>
  </material>
</robot>