<?xml version="1.0" ?>
<robot name="partnet_66e49590fed26b4b8a6a1538ac23319d">
	<link name="base"/>
	<link name="link_0">
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-97.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-94.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</visual>
		<visual name="board-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="bar-40">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="bar-41">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="bar-42">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="bar-43">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="leg-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<visual name="leg-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</visual>
		<visual name="leg-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="leg-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-19">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-26">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-29">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="bar_stretcher-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-66">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-67">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="tabletop_connector-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-97.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-94.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-64.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_0"/>
		<parent link="base"/>
	</joint>
	<link name="link_1">
		<visual name="handle-57">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-62">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="prismatic">
		<origin xyz="0 0 0"/>
		<axis xyz="0 0 1"/>
		<child link="link_1"/>
		<parent link="link_0"/>
		<limit lower="0" upper="0.44799999999999995"/>
	</joint>
	<link name="link_2">
		<visual name="handle-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-51">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-51">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-52">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-55">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="prismatic">
		<origin xyz="0 0 0"/>
		<axis xyz="0 0 1"/>
		<child link="link_2"/>
		<parent link="link_0"/>
		<limit lower="0" upper="0.44799999999999995"/>
	</joint>
</robot>
