<?xml version="1.0"?>
<robot name="kitchen_part_right"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name='world'/> 
  <xacro:include filename="$(find kitchen_description)/urdf/chewie_baker.xacro" />
  <xacro:include filename="$(find kitchen_description)/urdf/hitman.xacro" />

  <xacro:chewie_baker connected_to="world" />
  <xacro:hitman connected_to="world" />
</robot>
