<?xml version="1.0" ?>
<robot name="partnet_e60bf49d6449cf37c5924a1a5d3043b0">

	<link name="base"/>
	<link name="link_2">
		<visual name="base_body-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
<material name="White">
  <color rgba="0.85 0.85 0.85 1.0"/>
</material>
		</visual>
		<visual name="base_body-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
<material name="White">
  <color rgba="0.85 0.85 0.85 1.0"/>
</material>
		</visual>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22-left.obj"/>
			</geometry>
</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22-right.obj"/>
			</geometry>
</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22-back.obj"/>
			</geometry>
<material name="White">
  <color rgba="0.85 0.85 0.85 1.0"/>
</material>
</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22-bottom.obj"/>
			</geometry>
</collision>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -3.1415" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>

	<link name="sink_bottom">
		<visual name='tray_b'>
			<origin xyz="0 -0.03 0.03"/>
			<geometry>
		    	<box size="0.73 .001 1.1"/>
		  	</geometry>

			<!--geometry>
				<mesh filename="textured_objs/original-22-bottom-visual.obj"/>
			</geometry-->
            <material name="White">
              <color rgba="0.85 0.85 0.85 1.0"/>
            </material>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22-bottom.obj"/>
			</geometry>
</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="sink_bottom"/>
		<parent link="link_2"/>
	</joint>
</robot>
