<launch>

  <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/RML63/rml_63_bottom.urdf.xacro" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rm_description)/config/RML63.rviz" />
</launch>
