<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Kitchen_model">
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.272272013031469 2.25341345329778 0.800825814405321"
        rpy="0 0 0" />
      <mass
        value="462.317674602313" />
      <inertia
        ixx="95.9209401208235"
        ixy="-0.0807962602107836"
        ixz="-0.112205372435676"
        iyy="32.0133582426385"
        iyz="-0.0169278359413389"
        izz="90.6530768217412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.666666666666667 0.698039215686274 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
