<?xml version="1.0" ?>
<robot name="partnet_2266db44d8411d909d0d74633db4834d">
	<link name="base"/>

	<link name="handle_link">
		<visual name="lid-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0.05 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="handle_joint_0" type="fixed">
		<origin xyz="0 0 0"/>
		<axis xyz="0 1 0"/>
		<child link="handle_link"/>
		<parent link="link_0"/>
	</joint>

	<link name="link_0">
		<visual name="lid-1">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
	</link>
	<!-- <joint name="joint_0" type="prismatic">
		<origin xyz="0 0 0"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0" upper="0.02"/>
	</joint>
	<link name="link_1">
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
	</link> -->
	<joint name="joint_1" type="fixed">
		<!-- xyz="0 0 -0.416148148" -->
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_0"/>
		<parent link="base"/>
	</joint>
</robot>
