<launch>
  <!-- <arg
    name="model" />
  <arg
    name="gui"
    default="False" /> -->
  <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/RM65/rm_65.urdf.xacro" />
  <!-- <param
    name="use_gui"
    value="$(arg gui)" /> -->
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rm_description)/config/RM65.rviz" />
</launch>
