<?xml version="1.0" ?>

<launch>
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)"/>
  
  <param name="robot_description" command="$(find xacro)/xacro $(find dh_robotics_ag95_model)/urdf/dh_robotics_ag95_model.xacro" />  
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dh_robotics_ag95_model)/visualize.rviz" required="true"/>
</launch>
