<?xml version="1.0" ?>
<robot name="partnet_8ed3447275de7695149c1768202b4e64">
	<link name="base"/>
	<link name="link_2">
		<visual name="frame-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7.obj"/>
			</geometry>
		</visual>
		<visual name="foot-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</visual>
		<visual name="foot-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>
		<visual name="foot-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</visual>
		<visual name="foot-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</visual>

		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7.obj"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7-left.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7-right.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7-top.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7-bottom.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7-back.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
