<?xml version="1.0" ?>
<robot name="free3dmodels_meatturkeyleg">
	<link name="base"/>
	<link name="link_1">
		<visual name="body-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="meat.obj"/>
			</geometry>
		</visual>
		<visual name="body-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="bone.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="meat.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="bone.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
