<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kitchen_assembly">
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.313499659457917 2.3173852195085 0.394942314283965"
        rpy="0 0 0" />
      <mass
        value="316.376363075488" />
      <inertia
        ixx="74.1145332321338"
        ixy="-0.0808214588574129"
        ixz="-0.084857135569208"
        iyy="24.7171721508172"
        iyz="-0.0169272838726124"
        izz="72.3460972677664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://./meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.666666666666667 0.698039215686274 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://elementB/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
