<?xml version="1.0" ?>
<robot name="partnet_4f956e259344d4a3599fb6902c958d23">
	<link name="base"/>
	<link name="link_0">
		<visual name="glass-17">
			<origin xyz="0.609389123473717 0.3639250099658966 -0.5162083004578528"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="handle-18">
			<origin xyz="0.609389123473717 0.3639250099658966 -0.5162083004578528"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.609389123473717 0.3639250099658966 -0.5162083004578528"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.609389123473717 0.3639250099658966 -0.5162083004578528"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="-0.609389123473717 -0.3639250099658966 0.5162083004578528"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0"/>
		<parent link="link_2"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="tray-20">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-22">
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.06902066840980137 -0.36055201292037964 -0.06108543121933008"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="continuous">
		<origin xyz="-0.06902066840980137 0.36055201292037964 0.06108543121933008"/>
		<axis xyz="0 1 0"/>
		<child link="link_1"/>
		<parent link="link_2"/>
	</joint>
	<link name="link_2">
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-60.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
