<?xml version="1.0" ?>
<robot name="partnet_9e53ec8bedae98859807c66948157e66">
	<link name="base"/>
	<link name="door_frame">
		<visual name="door_frame-13">
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/original-124.obj"/>
			</geometry>
		</visual>
		<visual name="handle-14">
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/handle-new.obj"/>
			</geometry>
		</visual>
		<visual name="glass-15">
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/original-123.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/original-124.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/original-123.obj"/>
			</geometry>
		</collision>
	</link>

	<link name="fridge_door_handle">
		<visual name="handle">
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/handle_grasp-new.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.29319931760430357 0 -0.24443491768836934"/>
			<geometry>
				<mesh filename="textured_objs/handle_grasp-new.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="frame_to_handle" type="fixed">
		<origin xyz="0 0 0"/>
		<axis xyz="0 1 0"/>
		<child link="fridge_door_handle"/>
		<parent link="door_frame"/>
		<limit effort="1000.0" lower="0.0" upper="0.4"/>
	</joint>

	<joint name="fridge_door" type="revolute">
		<origin xyz="0.29319931760430357 0 0.24443491768836934"/>
		<axis xyz="0 1 0"/>
		<child link="door_frame"/>
		<parent link="fridge_body"/>
		<limit lower="0.0" upper="2.967"/>
	</joint>


	<joint name="fridge_collision_left" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="fridge_collision_left_link"/>
		<parent link="fridge_body"/>
	</joint>
	<link name="fridge_collision_left_link">
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_left.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_left.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="fridge_collision_right" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="fridge_collision_right_link"/>
		<parent link="fridge_body"/>
	</joint>
	<link name="fridge_collision_right_link">
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_right.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_right.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="fridge_collision_top" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="fridge_collision_top_link"/>
		<parent link="fridge_body"/>
	</joint>
	<link name="fridge_collision_top_link">
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_top.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_top.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="fridge_collision_bottom" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="fridge_collision_bottom_link"/>
		<parent link="fridge_body"/>
	</joint>
	<link name="fridge_collision_bottom_link">
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_bottom.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_bottom.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="fridge_collision_back" type="fixed">
		<origin xyz="0 0 0"/>
		<child link="fridge_collision_back_link"/>
		<parent link="fridge_body"/>
	</joint>
	<link name="fridge_collision_back_link">
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_back.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/fridge_body_back.obj"/>
			</geometry>
		</collision>
	</link>


	<link name="fridge_body">
		<visual name="frame-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-119.obj"/>
			</geometry>
		</visual>
		<visual name="frame-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</visual>
		<visual name="frame-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-122.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<visual name="foot-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-184.obj"/>
			</geometry>
		</visual>
		<visual name="foot-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-185.obj"/>
			</geometry>
		</visual>
		<visual name="foot-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-183.obj"/>
			</geometry>
		</visual>

		<!-- replace with convex sub-parts -->
		<!--collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-119.obj"/>
			</geometry>
		</collision-->

		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-58.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-122.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-184.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-185.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-183.obj"/>
			</geometry>
		</collision> -->
	</link>


	<joint name="joint_shelf_bottom" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="shelf_bottom"/>
		<parent link="fridge_body"/>
	</joint>

	<link name="shelf_bottom">
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-54.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-57.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-46.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-52.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-39.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
	</link>




	<joint name="joint_shelf_top" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="shelf_top"/>
		<parent link="fridge_body"/>
	</joint>

	<link name="shelf_top">
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-118.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-108.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-103.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-94.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-99.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-112.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-104.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-106.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-107.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-109.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-105.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-116.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-100.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-97.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-117.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-110.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-101.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-113.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-102.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-115.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-111.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-114.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-118.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-77.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-71.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-74.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-78.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-75.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-82.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-79.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-84.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-108.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-86.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-89.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-103.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-76.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-93.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-94.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-99.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-83.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-112.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-81.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-104.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-95.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-106.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-107.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-109.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-66.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-105.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-116.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-100.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-97.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-117.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-98.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-110.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-101.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-88.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-113.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-87.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-80.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-96.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-91.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-102.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-72.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-90.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-73.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-92.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-115.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-111.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-114.obj"/>
			</geometry>
		</collision>
	</link>



	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="fridge_body"/>
		<parent link="base"/>
	</joint>
</robot>
