<?xml version="1.0" ?>
<robot name="partnet_5b2633d960419bb2e5bf1ab8e7d0b">
	<link name="base"/>
	<link name="link_0">
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="door_frame-41">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="glass-42">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="handle-43">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="handle-43">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="handle-43">
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.7682425612805752 -0.4679230000000003 -0.4374772029288201"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="-0.7682425612805752 0.4679230000000003 0.4374772029288201"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="frame-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-36.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-5">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-35.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-6">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-34.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-7">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-33.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-8">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-32.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-9">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-31.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-30.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-29.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-28.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-27.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-26.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-25.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-24.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-17">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-23.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-22.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-19">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-21.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-20.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-21">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-19.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-22">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-18.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-23">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-17.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-24">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-16.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-25">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-15.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-26">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-14.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-13.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-12.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-29">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-11.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-10.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-31">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-9.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-32">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-8.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-33">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-34">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-6.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-35">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-5.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-36">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-4.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-37">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</visual>
		<visual name="control_button-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>
		<visual name="display_panel-40">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-36.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-0.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
