<launch>
  <include file="$(find rm_scr_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  <include file="$(find rm_scr_moveit_config)/launch/moveit_rviz.launch" />

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false" />
    <rosparam param="/source_list">[/arm/joint_states]</rosparam>
  </node>

</launch>