<?xml version="1.0" ?>
<robot name="partnet_56e1f35c70ad2859c59350d819542ec7">
	<link name="base"/>
	<link name="link_0">
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</visual>
		<visual name="cabinet_door_surface-4">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</visual>
		<visual name="handle-5">
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-26.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-27.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-38.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-42.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-41.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-40.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.8979731588394249 -0.28846099972724915 -0.21876076947042045"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="-0.8979731588394249 0.28846099972724915 0.21876076947042045"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1">
		<visual name="vertical_side_panel-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="bottom_panel-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="top_panel-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-17">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-19">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="frame_vertical_bar-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-21">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-22">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-24">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_divider_panel-25">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_divider_panel-26">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_divider_panel-27">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-43.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
