<?xml version="1.0" ?>
<robot name="partnet_d9560bfc0c051109f54e1b6f41fdd78a-body">
	<link name="base"/>
	<link name="braiser_bottom">
		<visual name="bottom">
			<origin xyz="0 -0.02 0"/>
			<geometry>
				<mesh filename="textured_objs/braiser-bottom-new.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/braiser-bottom-collision.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="braiser_bottom"/>
		<parent link="link_1"/>
	</joint>
	<link name="link_1">

		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5-new.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1-new.obj"/>
			</geometry>
		</visual>

		<!-- from 100017 -->
		<visual name="base_body-2--3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9-fix.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2--10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14-fix.obj"/>
			</geometry>
		</visual>

		<!-- <visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/two_pieces_x_minus.obj"/>
			</geometry>
		</visual>
		<visual>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/two_pieces_x_plus.obj"/>
			</geometry>
		</visual> -->

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9-fix.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14-fix.obj"/>
			</geometry>
		</collision>

		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/two_pieces_x_minus.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/two_pieces_x_plus.obj"/>
			</geometry>
		</collision>

		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision> -->

        <collision>
            <origin rpy="0 0.1308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.1308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.2617993877991494 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.2617993877991494 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.39269908169872414 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.39269908169872414 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.5235987755982988 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.5235987755982988 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.6544984694978735 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.6544984694978735 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.7853981633974483 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.7853981633974483 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 0.916297857297023 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0.916297857297023 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 1.0471975511965976 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 1.0471975511965976 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 1.1780972450961724 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 1.1780972450961724 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 1.308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 1.308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 1.4398966328953218 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 1.4398966328953218 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 1.5707963267948966 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 1.5707963267948966 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.1308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.1308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.2617993877991494 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.2617993877991494 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.39269908169872414 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.39269908169872414 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.5235987755982988 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.5235987755982988 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.6544984694978735 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.6544984694978735 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.7853981633974483 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.7853981633974483 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -0.916297857297023 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -0.916297857297023 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -1.0471975511965976 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -1.0471975511965976 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -1.1780972450961724 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -1.1780972450961724 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -1.308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -1.308996938995747 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>

        <collision>
            <origin rpy="0 -1.4398966328953218 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_minus.obj"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 -1.4398966328953218 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="textured_objs/two_pieces_x_plus.obj"/>
            </geometry>
        </collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
