<?xml version="1.0" ?>
<robot name="partnet_1497ccf1ac032d35ce1decf313ece97f-body">
	<link name="base"/>
	<link name="braiser_bottom">
		<visual name="bottom">
			<origin xyz="0 -0.02 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
			<material name="Transparent">
				<color rgba="1 1 1 0"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="braiser_bottom"/>
		<parent link="link_1"/>
	</joint>

	<link name="link_1">
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>

		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>

		<!--collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision-->

		<collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-20.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-21.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-22.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-23.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-24.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-25.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-26.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-27.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-28.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-29.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-30.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-31.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-32.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-33.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-34.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-35.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-36.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-37.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-38.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-39.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-40.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-41.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-42.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-9_vhacd_2386897471_part-43.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-20.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-21.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-22.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-23.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-24.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-25.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-26.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-27.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-28.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-29.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-30.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-31.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-32.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-33.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-34.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-35.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-36.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-37.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-38.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-39.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-40.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-41.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-42.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-43.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-44.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-45.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-14_vhacd_3085904491_part-46.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-20.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-21.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-22.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-23.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-24.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-25.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-26.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-27.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-28.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-29.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-30.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-3_vhacd_2384931385_part-31.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-20.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-21.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-22.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-23.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-2_vhacd_2384603704_part-24.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="../../assets/models/BraiserBody/100017/textured_objs/original-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-20.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-21.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-22.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-23.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-24.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-25.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-26.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-27.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-28.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-29.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-5_vhacd_2385586747_part-30.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-15_vhacd_3086232172_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="../../assets/models/BraiserBody/100017/textured_objs/original-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="../../assets/models/BraiserBody/100017/textured_objs/original-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="../../assets/models/BraiserBody/100017/textured_objs/original-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-0.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-1.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-2.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-3.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-4.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-5.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-6.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-7.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-8.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-9.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-10.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-11.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-12.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-13.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-14.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-15.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-16.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-17.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-18.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
        <collision>
          <geometry>
            <mesh filename="vhacd/original-10_vhacd_3084593767_part-19.obj"/>
          </geometry>
          <origin xyz="0.0 0.0 0.0"/>
        </collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
